.container-debug {
    padding: 2rem;
    background-color: azure;
}

.jumbo-h-debug {
    min-height: 500px;
}

.jumbo-title-debug {
    background-color: aliceblue;
    /* height: 300px;
    width: 300px; */
}

.my-card-debug {
    background-color: aqua;
    height: 50px;
    border-radius: 1rem;
}

.content-debug {
    height: 300px;
    background-color: bisque;
}