@import url(debug.css);
@import url(buttons.css);

body {
    font-family: Arial, Helvetica, sans-serif;
}

.black-bar {
    background-color: black;
}

.black-bar img {
    width: 100px;
}

.nav {
    background-color: white;
}

.nav-menu a {
    color: black;
    text-decoration: none;
    padding-left: 1rem;
}

.nav-menu a i {
    padding-left: 5px;
    font-size: 12px;
    color: grey;
}

.hamburger-menu {
    border: 1px solid lightgrey;
    padding: 0 1rem;
}

.bg-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.jumbotron img {
    object-position: top;
    padding-top: 115px;
}

.jumbo-title {
    padding-top: 17rem;
    padding-bottom: 3rem;
}

.jumbo-title img {
    width: 60%;
}

.my-card {
    height: 100%;
}

.card-radius {
    border-radius: 1rem;
    overflow: hidden;
}

.my-card img {
    width: 100%;
}

.content img {
    width: 100%;
}

.my-card.card-slider img {
    width: 60%;
}

.border-focus {
    border-bottom: 2px solid blue;
}